@import './variables.scss';

@font-face {
	font-family: 'GepesteV';
	font-style: normal;
	src: local('GepesteV'),
		url('../font/Gepestev.woff') format('woff'),
        url('../font/Gepestev.ttf') format('ttf')
}

* {
    font-family: "GepesteV", sans-serif;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

p {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

.button {
    color: #fff;
    background-color: $btn-color;
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    border: 2px solid white;
    cursor: pointer;
    &:disabled {
        background-color: $btn-disabled;
        color: rgba(255, 255, 255, 0.5);
        border: 1px solid $btn-color;
    }
}

.App {
    max-width: 1150px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
    &__wrapper {
        height: 100%;
        padding-top: 20%;
        transition: padding 1s;
        display: grid;
        column-gap: 20px;
        grid-template-columns: calc(45% - 5px) calc(55% - 15px);
    }
}

@media ( max-width:1200px ) {
    .App {
        &__wrapper {
            padding-top: 20%;
            grid-template-columns: calc(50% - 10px) calc(50% - 10px);
        }
    }
}

@media ( max-width:767px ) {
    .App {
        max-width: 600px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        &__wrapper {
            padding-top: 20px;
            display: flex;
            flex-direction: column-reverse;
        }
    }
}

.translate {
    animation: translate 1.5s ease-in-out .5s infinite;
}

@keyframes translate {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-4px);
    }
    100% {
        transform: translateY(0px);
    }
}

