@import './variables.scss';

@font-face {
	font-family: 'GepesteV';
	font-style: normal;
	src: local('GepesteV'),
		url('../font/Gepestev.woff') format('woff'),
        url('../font/Gepestev.ttf') format('ttf')
}

* {
    font-family: "GepesteV", sans-serif;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 0;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

p {
    margin: 0;
    padding: 0;
}

.button {
    color: #fff;
    background-color: $btn-color;
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    border: 2px solid white;
    cursor: pointer;
    &:disabled {
        background-color: $btn-disabled;
        color: rgba(255, 255, 255, 0.5);
        border: 1px solid $btn-color;
    }
}

.App {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
    color: #fff;
    &__wrapper {
        padding-top: 20px;
        display: grid;
        grid-template-columns: 44% 56%;
    }
}


@media ( max-width:1200px ) {
    .App {
        &__wrapper {
            display: flex;
            justify-content: center;
            column-gap: 20px;
        }
    }
}

@media ( max-width:990px ) {
    .App {
        padding: 0 30px;
        &__wrapper {
            display: grid;
            grid-template-columns: repeat(2, minmax(354px, auto));
            padding-top: 20px;
            column-gap: 10px;
        }
    }
}

@media ( max-width:767px ) {
    .App {
        letter-spacing: 1px;
        &__wrapper {
            grid-template-columns: minmax(200px, 350px) minmax(200px, 370px);
            position: relative;
        }
    }
}

@media ( max-width:565px ) {
    .App {
        &__wrapper {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}

.pulse {
    animation: pulse 1.5s ease-in-out .5s infinite
}

@keyframes pulse {
    0% {
        opacity: 1
    }
    50% {
        opacity: .6
    }
    100% {
        opacity: 1
    }
}

.translate {
    animation: translate 1.5s ease-in-out .5s infinite;
}

@keyframes translate {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(0px);
    }
}

.show-animation-right {
    animation: show-animation-right 250ms linear 1 forwards;
}

@keyframes show-animation-right {
    0% {
        transform: translateX(300vh);
    }
    100% {
        transform: translateX(0);
    }
}

.hide-animation-right {
    animation: hide-animation-right 250ms linear 1 forwards;
}

@keyframes hide-animation-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-300vh);
    }
}


.show-animation-left {
    animation: show-animation-left 250ms linear 1 forwards;
}

@keyframes show-animation-left {
    0% {
        transform: translateX(-300vh);
    }
    100% {
        transform: translateX(0);
    }
}

.hide-animation-left {
    animation: hide-animation-left 250ms linear 1 forwards;
}

@keyframes hide-animation-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(300vh);
    }
}