.spinner-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


@media ( max-width:565px ) {
    .spinner-wrap {
        height: 268px;
    }
}