.roverPhotoModal {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    cursor: pointer;
    &__img {
        position: relative;
        img {
            max-width: 800px;
            max-height: 600px;
            cursor: default;
        }
    }
    &__close {
      cursor: pointer;
      user-select: none;
      position: absolute;
      top: 0 ;
      right: -25px;
      font-weight: 700;
      font-size: 25px;
      color: #fff;
    }
}

.roverPhotoModal-enter {
    opacity: 0;
  }
  .roverPhotoModal-enter-active {
    opacity: 1;
    transition: opacity 500ms;
  }
  .roverPhotoModal-exit {
    opacity: 1;
  }
  .roverPhotoModal-exit-active {
    opacity: 0;
    transition: opacity 500ms;
  }
  