.manifestSkeleton {
    display: flex;
    column-gap: 15px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 25%);
    .img-block {
        width: 250px;
        height: 250px;
        // object-fit: contain;
        background: #C4C4C4;
    }
    .list-title-block {
        background: #C4C4C4;
        margin-bottom: 20px;
        width: 300px;
        height: 30px;
        display: block;
    }
    li {
        background: #C4C4C4;
        margin-top: 10px;
        width: 300px;
        height: 20px;
        display: block;
    }
}