@import '../../styles/variables.scss';

.manifestSkeleton {
    display: flex;
    column-gap: 10px;
    .img-block {
        margin-left: 10px;
        width: 350px;
        height: 350px;
        padding: 25px;
        background: $blocks-color;
        .welcome-title {
            text-align: center;
        }
        .welcome-text {
            margin-top: 15px;
            font-size: 19px;
            font-weight: 700;
            text-align: left;
            line-height: 1.3;
        }
    }
    .list-title-block {
        background: $blocks-color;
        margin-bottom: 20px;
        width: 300px;
        height: 30px;
        display: block;
    }
    li {
        background: $blocks-color;
        margin-top: 10px;
        height: 20px;
        display: block;
    }
}

@media ( max-width:1200px ) {
    .manifestSkeleton {
        justify-content: end;
        .img-block {
            width: 400px;
            margin-left: 0;
            padding: 25px;
        }
        .list-block {
            display: none;
        }
        .img-block {    
            .welcome-text {
                line-height: 1.5;
                margin-top: 30px;
            }
        }

    }
}

@media ( max-width: 990px ) {
    .manifestSkeleton {
        .img-block {
            height: 386px;
        }
    }
}

@media ( max-width: 767px ) {
    .manifestSkeleton {
        .img-block {
            height: auto;
            width: 100%;
            margin-bottom: 20px;
            padding: 20px 15px 15px 15px;
            .welcome-text {
                margin-top: 15px;
                text-align: center;
            }
        }
    }
}